//*------------------------------------*\
// Variables Color
//*------------------------------------*/
// Palette: No usar estas variables en los estilos

/**
 * $c-primary
 * @color
 * @section Primary
 */

$primary: #1cbbb4;


/**
 * $c-secondary
 * @color
 * @section Secondary
 */

$secondary: #ffad1d;


/**
 * $c-on-primary
 * @color
 * @section On
 */

$grey: #333;

/**
 * $grey-dark
 * @color
 * @section On
 */

$grey-dark: #808081;

/**
 * $grey-white
 * @color
 * @section On
 */

$grey-white: #ebebeb;

/**
 * $c-black
 * @color
 * @section On
 */

$c-black: #000;

/**
 * $c-white
 * @color
 * @section On
 */

$c-white: #fff;
