//*------------------------------------*\
  //Variables gutter (margin - padding)
//*------------------------------------*/

$gutter-xxs  : 5px;
$gutter-xs   : 15px;
$gutter-s    : 20px;
$gutter-m    : 40px;
$gutter-ml   : 60px;
$gutter-l    : 80px;
$gutter-xl   : 100px;
$gutter-xxl  : 120px;

