/*------------------------------------*\
// Component: Footer
//*------------------------------------*/

/**
 * Default header
 * @section Footer
 * @structure Default footer
 * @markup
 *  <footer class="rt-footer">
 *     <nav class="rt-footer__nav">
 *       <ul>
 *         <li><a href="" title="click to go to terms">Terms and Conditions</a></li>
 *         <li><a href="" title="click to see privacy">Privacy Policy</a></li>
 *         <li><a href="" title="Click to contact us">Contact Us</a></li>
 *       </ul>
 *     </nav>
 *     <div class="rt-footer__social">
 *       <p>Follow us</p><a class="rt-icon rt-icon-fb" href="" title="Follow us on Facebook">Facebook</a><a class="rt-icon rt-icon-tw" href="" title="Follow us on Twitter">Twitter</a>
 *     </div>
 *   </footer>
 */

.rt-footer {
	border-top: 2px dotted $grey-white;
	margin: $gutter-m auto;
	max-width: 1025px;
	padding: $gutter-xs;
}

.rt-footer__nav {
	ul {
		list-style: none;
		li {
			padding: $gutter-xs 0;
			text-align: center;
			a {
				color: $grey;
				@include font-rem(12px);
				font-weight: 300;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}

.rt-footer__social {
	padding: $gutter-xs;
	text-align: center;
	p {
		color: $grey;
		@include font-rem(12px);
		font-weight: 300;
	}
}

@include media-query(medium) {
	.rt-footer {
		@include flexbox;
		padding: $gutter-xs 0;
	}
	.rt-footer__nav {

		ul {
			@include flexbox;
			li {
				padding: $gutter-xs;
				text-align: left;

				&:first-of-type {
					padding-left: 0;
				}
			}
		}
	}

	.rt-footer__social {
		margin-left: auto;
		@include flexbox;
		@include align-items(center);

		p {
			margin-right: 10px;
		}
		.rt-icon {
			margin: 0 10px;
		}

	}
}