extends _template

block variables
  //- variables head meta
  -var varTitle       = 'How it works'
  -var varDescription = 'We are a crowd sourced court of public opinion. Share your opinion.'
  -var varAuthor      = 'Zemoga'

   //- Adding homepage header
  -var menuInternal = true
 

block content

  // Section level 1: Intro
  section
    .ay-canvas
     p How it works



