extends _template

block variables
  //- variables head meta
  -var varTitle       = 'Rule of thumb homepage'
  -var varDescription = 'We are a crowd sourced court of public opinion. Share your opinion.'
  -var varAuthor      = 'Zemoga'

  //- Adding homepage header
  -var menuHome = true
 

block content

  // Section level 1: Intro
  section
    .ay-canvas
     p home page



