extends _template

block variables
  //- variables head meta
  -var varTitle       = 'Rule of thumb homepage'
  -var varDescription = 'We are a crowd sourced court of public opinion. Share your opinion.'
  -var varAuthor      = 'Zemoga'

  //- Adding homepage header
  -var menuHome = true
 

block content

  // Section level 1: Hero
  section.rt-hero
    img.rt-hero__image(src="static/images/pope.jpg" alt="Pope hero image")
    .rt-canvas
     .rt-infoBox
      h1.rt-infoBox__title
       span What's your opinion on 
       | Pope Francis?

      p.rt-infoBox__lead He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)

      a.rt-infoBox__link(href="https://en.wikipedia.org/wiki/Pope_Francis" title="click to vew more information" target="_blank") 
        span More information

      .rt-infoBox__vote
        h3 What's Your Veredict?

        .rt-infoBox__voteOptions
          a.rt-infoBox__thumb.rt-infoBox__thumb-up(href="" title="click to vote for thumbs up") Thumbs Up
          a.rt-infoBox__thumb.rt-infoBox__thumb-down(href="" title="click to vote for thumbs down") Thumbs down

    .rt-hero__closingTime
     p Closing in
     p 22 
      span days


  .rt-alert
   a(href="" title="Click to close").rt-alert__closeBtn Close
   h2.rt-alert__title Speakout. Be heard.
    span Be counted
   p.rt-alert__lead Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opinion, we analize and put the data ina public report.

  section.rt-vote
   h2.rt-sectionTitle Votes
   .rt-canvas
    
    include component/voteItem

  include component/callout









    



