//-----------------------------------------------
	Componente: footer | ID: C3 | Type: Layout
//-----------------------------------------------
footer.rt-footer
	nav.rt-footer__nav
		ul
			li
				a(href="" title="click to go to terms") Terms and Conditions

			li
				a(href="" title="click to see privacy") Privacy Policy

			li
				a(href="" title="Click to contact us") Contact Us


	.rt-footer__social
		p Follow us
		a.rt-icon.rt-icon-fb(href="" title="Follow us on Facebook") Facebook
		a.rt-icon.rt-icon-tw(href="" title="Follow us on Twitter") Twitter