//-----------------------------------------------
  Componente: HEAD - Home page
//-----------------------------------------------
if menuHome === true
  header.rt-header
    p header home

else if menuInternal === true
  header.rt-header
    p header interno