//-----------------------------------------------
//-  include en Componente: Callout
//-----------------------------------------------

.rt-callout
    p Is there anyone else you would want us to add?
    a.rt-btn.rt-btn-black(href="" title="click to submit a name") Submit a name