//*------------------------------------*\
//Variables Typo font
//*------------------------------------*/


//font root
$font-path: "../fonts/theme" !default;

// Variables font family:
$f-bold : 'BandaBold',
Arial,
sans-serif;

$f-semibold: 'BandaSemibold',
Arial,
sans-serif;

$f-regular : 'BandaRegular',
Arial,
sans-serif;

$f-light : 'BandaLight',
Arial,
sans-serif;

$f-thin : 'BandaThin',
Arial,
sans-serif;


